<%= form_for [@band, @song] do |f| %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :tempo %>
  <%= f.text_field :tempo %>
</div>

<p>
  <%= f.submit "Submit Song" %>
</p>

<% end %>
