<div class="row">
  <br>
  <div class="large-3 columns ">
    <div class="panel">
      <a href="#">
        <div class="image-frame">
          <img src="<%= @band.band_photo %>" />
        </div>
      </a>
        <h4><%= @song.title %></h4>
        <h4><%= @band.name %></h4>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
        <section class="section">
          <p>Tempo: <%= @song.tempo %></p>
          <h5>Band Members</h5>
        </section>
        <section class="section">
          <h5 class="title"><a href="#">Section 2</a></h5>
        </section>
      </div>
    </div>

    <div class="panel callout radius">
      <strong>Song Settings</strong>
      <h6><%= link_to "Add New Track", new_song_track_path(@song) %></h6>
      <h6><%= link_to "Edit Song", edit_band_song_path(@band, @song) %></h6>
      <h6><%= link_to "Delete Song", band_song_path(@band, @song), method: :delete, data: { confirm: "Are you sure?"} %></h6>
    </div>
  </div>
  <div class="large-9 columns">
    <div class="row">
      <div class="large-12 columns">
        <h2> Tracks </h2>
          <dd>
            <button class="play">Play</button>
          </dd>
        <% @tracks.each_with_index do |track, index| %>
        <h4><strong><%= track.instrument %></strong></h4>
        </dl>
          <iframe  id="soundcloud_widget_<%= index %>"
            src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%= track.soundcloud %>&show_artwork=false&liking=false&sharing=false&auto_play=false&single_active=false"
            width="100%"
            height="120"
            frameborder="no">
          </iframe>
        <br>
        <% end %>
      </div>
    </div>
    <hr />
  </div>
</div>
