<br>
<div class="row">
  <% @bands.each do |band| %>
  <div class="large-4 columns">

    <div class="image-frame">
      <%= link_to image_tag(band.band_photo), band_path(band) %>
    </div>

    <h4><%= link_to band.name, band_path(band) %></h4>
    <p><%= truncate( "#{band.bio}", length: 42 ) %></p>
  </div>
  <% end %>
  <%= paginate @bands %>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h4>Create a new band here!</h4>
        <%= button_to "Create new band", new_band_path, class: "radius button right", method: :get %>
      <div class="row">
        <div class="large-9 columns">
          <p>Starting a new band is easy! Click the button to the right, fill out the form and add your band members!</p>
        </div>
      </div>
    </div>
  </div>
</div>
