<br/>
<div class="row">
  <div class="large-12 columns">

<!-- Side Bar -->

    <div class="large-4 small-12 columns">
      <div class="image-frame">
        <img src="<%= @band.band_photo.bandpage_img %>">
      </div>

      <div class="hide-for-small panel">
        <h3><%= @band.name %></h3>
        <h5><%= @band.genre %></h5>
        <h5 class="subheader"><%= @band.bio %></h5>
      </div>

      <div class="panel callout radius">
        <strong>Band Members</strong>
        <% @band.users.each do |member| %>
          <% if signed_in? %>
            <% if @band.band_members.find_by(owner: true) %>
              <% if @band.band_members.find_by(user_id: current_user.id) %>
                <h6><%= link_to "Add Band Member", new_band_bandmember_path(@band) %></h6>
              <% end %>
            <% end %>
          <% end %>
          <h6><%= member.email %></h6>
        <% end %>
      </div>

        <% if signed_in? %>
          <% if @band.band_members.find_by(user_id: current_user.id) %>
            <div class="panel callout radius">
              <strong>Band Settings</strong>
              <h6><%= link_to "Add New Song", new_band_song_path(@band) %></h6>
              <h6><%= link_to "Edit Band", edit_band_path(@band) %></h6>
              <h6><%= link_to "Delete Band", band_path(@band), method: :delete, data: { confirm: "Are you sure?"} %></h6>
            </div>
          <% end %>_
        <% end %>
    </div>

<!-- End Side Bar -->

  <!-- Song List -->
    <div class="large-8 columns">
      <div class="row">
        <div class="large-12 columns">
        <h4> Songs </h4>
          <% @songs.each do |song| %>
            <div class="panel">
              <div class="row">
                <div class="large-10 small-6 columns">
                  <strong><%= link_to song.title, band_song_path(@band, song) %><hr/></strong>
                  <h5> Status: In Progress </h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    <!-- End Song List -->

  </div>
</div>
