<h2><%= @band.name %></h2>
<p><%= @band.bio %></p>
<p><%= @band.genre %></p>

<%= link_to "Edit Band", edit_band_path(@band) %>
<%= link_to "Delete Band", band_path(@band), method: :delete %>

<br>

<%= link_to "Add New Song", new_band_song_path(@band) %>
