<!DOCTYPE html>
<html>
<head>
  <title>Mixit</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'custom', media: 'all' %>
  <%= csrf_meta_tags %>

  <head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="http://w.soundcloud.com/player/api.js"></script>
  <script>
  $(document).ready(function() {
    var iFrames = []
    var playing = false

    $('iframe').each(function() {
      var widget = SC.Widget(this.id);
      iFrames.push(widget);
    });

    function playAllSongs() {
      for ( var i = 0; i < iFrames.length; i++) {
        iFrames[i].toggle()
      };
    };

    function togglePlayButton() {
      var $button = $('.play');
      playing = ! playing
      if (playing) {
        $button.text('Pause')
      } else {
        $button.text('Play')
      };
    };


    $('.play').click(function() {
      playAllSongs();
      togglePlayButton();
    });
  });
  </script>
</head>
<body>


<div class="row">
  <div class="nav-bar right"></div>
  <h1><%= link_to 'miXit', root_path %></h1>
</div>

<div class="contain-to-grid sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 1</a></li></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li></li>
        <li class="divider"></li>
        <%- if current_user -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>

      <ul class="left">
        <li class="divider"></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 1</a></li></li>
        <li class="divider"></li>
        <li><a href="#">Main Item 2</a></li></li>
        <li class="divider"></li>
        <li class="has-dropdown"></li>
      </ul>


    </section>
  </nav>
</div>

<div class="notice">
  <% if notice %>
    <p class="alert-box alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert-box alert-danger"><%= alert %></p>
  <% end %>
</div>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
  $(function(){
    $(document).foundation();
  });
  <% end %>
  <%= yield :extra_footer %>

  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
